body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
}


.App {
  text-align: center;
}

#login-screen {
  width: 50vw;
  height: 50vh;
  position: fixed;
  left: 25vw;
  top: 25vh;
  border: 2px solid black;
  border-radius: 5px;
  
}

#login-message {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30pt;
}

#login-button {
  width: 10vw;
  height: 10vh;
  position: fixed;
  left: 45vw;
  top: 45vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12pt;
}

.main-screen {
  height: 60vh;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 20vh;
}

.no-route-screen {
  position: relative;
  top: 10vh;
}

.nr-user-info {
  position: relative;
  top: 5vh;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  text-align: left;
  padding-left: 1vw;
  padding-top: 1vh;
}

#user-info-head {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.user-home-nav {
  width: 40vw;
  position: relative;
  left: 20vw;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  height: 12vh;
  bottom: 10vh;
  text-align: center;
  font-size: 15pt;
}

.nav-links {
  color: white;
  position: relative;
  top: -2vh;
}

.nav-link {
  margin-left: 3vw;
  margin-right: 3vw;
}

.new-list-item {
  text-align: left;
  border: 3px solid lightslategray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  padding: 0.5vw;
  width: 30vw;
  position: fixed;
  left: 35vw;
  top: 41vh;
}


.new-list-form {
 
}

.list-title-box {
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.sign-out-button {
  width: 15vw;
  height: 14vh;
  position: relative;
  margin: 0.25vw;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20pt;
}

.sign-out-button:hover {
  background-color: rgb(186, 193, 199);
}

.sign-out-button:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

#list-title-input {
  position: fixed;
  width: 15vw;
  top: 35vh;
  left: 42.5vw;
  height: 2rem;
  font-size: 16pt;
}

#submit-list-button {
  position: fixed;
  width: 7vw;
  left: 35vw;
  top: 35vh;
  height: 2rem;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  font-weight: bold;
}

#submit-list-button:hover {
  background-color: rgb(186, 193, 199);
}

#submit-list-button:active {
  position: fixed;
  transform: translate(1px, 1px);
  box-shadow: none;
}

#list-sort-select {
  position: fixed;
  left: 66vw;
  width: 10vw;
  top: 35vh;
  height: 2rem;

}

#select-label {
  position: fixed;
  left: 60vw;
  width: 10vw;
  top: 36vh;
  text-align: left;
}

#add-item-button {
  width: 5vw;
  height: 4vh;
  position: relative;
  margin: 0.25vw;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  font-weight: bold;
}

#add-item-button:hover {
  background-color: rgb(186, 193, 199);
}

#add-item-button:active {
  position: relative;
  transform: translate(1px, 1px);
  box-shadow: none;
}



.user-lists-main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.user-list-full {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120vh;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0.5vw;
  position: relative;
  right: 10vw;
}

.list-header {
  height: 10vh;
  width: 80vw;
  text-align: center;
  gap: 1vw;
  position: relative;
  right: 20vw;
}

.change-title-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  color: blue;
  border: 3px solid blue;
  border-radius: 5px;
  height: 4vh;
  font-weight: bold;
}

.change-title-button:hover {
  background-color: skyblue;
}
.delete-list-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  margin: 1vw;
  color: red;
  border: 3px solid red;
  border-radius: 5px;
  height: 4vh;
  font-weight: bold;
}

.delete-list-button:hover {
  background-color: salmon;
}

.add-item-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  color: green;
  border: 3px solid green;
  border-radius: 5px;
  height: 4vh;
  font-weight: bold;
}

.add-item-button:hover {
  background-color: lightgreen;
}

.list-created-at {
  position: relative;
  left: 12vw;
  bottom: 2.5vh;
  font-size: small;
  text-align: left;
}

.list-edited-at {
  position: relative;
  left: 12vw;
  bottom: 3vh;
  font-size: small;
  text-align: left;
}

.list-item-inc {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  width: 20vw;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px maroon;
  background-color: salmon;
  text-align: left;
  padding: 0.5vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.list-item-com {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  width: 20vw;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px darkgreen;
  background-color: lightgreen;
  text-align: left;
  padding: 0.5vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

#sl-task {
  text-align: center;
  margin: 0px;
  overflow-wrap: break-word;
}

#sl-imp {

}

#sl-desc {
  overflow-wrap: break-word;
}


#sl-comp {
  text-align: center;
}

.current-list {
  width: 22vw;
  margin-right: 8vw;
  padding-left: 1vw;
  padding-top: 1vh;
  position: absolute;
  right: 37vw;
  top: 20vh;
  text-align: left;
  border: 3px dotted black;
  border-radius: 3px;

}

.current-item-details {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  position: relative;
  margin-bottom: 2vh;
}

#remove-item-button {
  width: 2vw;
  height: 2vw;
  text-align: center;
  color: red;
  background-color: transparent;
  border-radius: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clear-list-button {
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  font-weight: bold;
  height: 4vh;
  width: 6vw;
}

.clear-list-button:hover {
  background-color: rgb(186, 193, 199);
}

.clear-list-button:active {
  position: relative;
  transform: translate(1px, 1px);
  box-shadow: none;
}
.current-list-title {
  max-width: 20vw;
  margin-top: 2vh;
  overflow-wrap: break-word;
}



.list-identifier {
  position: relative;
  left: 10vw;
  bottom: 6vh;
  font-size: 10pt;
  font-style: italic;
  width: 10vw;
  overflow-wrap: break-word;
}

#task-input {
  font-size: 16pt;
  height: 2rem;
}

#importance-input {
  width: 5vw;
}

#description-input {
  font-family: Arial, Helvetica, sans-serif;

}

#item-task {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1vh;
}

#item-importance {
  margin-left: 1vw;
}

#item-description {
  margin-left: 1vw;
  margin-right: 1vw;
}


.delete-item-button {
  position: relative;
  width: 2vw;
  height: 3vh;
  left: 18vw;
  color: black;
  background-color: transparent;
  text-align: center;
}

.mark-complete-button {
  position: relative;
  bottom: 0.3vw;
  left: 0.3vw;
  background-color: salmon;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid darkred;
  width: 5vw;
  height: 4vh;
  font-size: 8pt;
}

.mark-incomplete-button {
  position: relative;
  bottom: 0.3vw;
  left: 14.7vw;
  background-color: lightgreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid darkgreen;
  width: 5vw;
  height: 4vh;
  font-size: 8pt;
}

.new-item-screen {
  position: fixed;
  left: 1vw;
  top: 30vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 18vw;
}

#new-description-input {
  font-family: Arial, Helvetica, sans-serif;
}

#new-importance-input {
  width: 30%;
}

#add-item-screen-button {
  width: 5vw;
  margin-top: 1vh;
  /* position: fixed; */
  height: 4vh;
  /* left: 7vw;
  top: 67.5vh; */
}