.App {
  text-align: center;
}


.main-screen {
  height: 60vh;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 20vh;
}

.user-home-nav {
  width: 60vw;
  position: relative;
  left: 10vw;
  border: 1px solid blue;
  background-color: skyblue;
  height: 10vh;
  text-align: center;
  font-size: 15pt;
}

.nav-links {
  color: white;
  background-color: red;
  position: relative;
  top: -2vh;
}

.new-list-item {
  text-align: left;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  padding: 0.5vw;
  width: 40vw;
  position: relative;
  left: 15vw;
}

.new-list-form {
  
}

.list-title-box {
  margin-bottom: 1vh;
  margin-left: 1vw;
}

#list-title-input {

}

#submit-list-button {
  position: fixed;
  width: 10vw;
  left: 45vw;
  top: 80vh;
  height: 5vh;
}

#add-item-button {
  width: 5vw;
  height: 4vh;
  position: relative;
  margin: 0.25vw;
}

.user-lists-main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.user-list-full {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120vh;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0.5vw;
}

.list-header {
  height: 10vh;
  width: 80vw;
  text-align: center;
  gap: 1vw;
  position: relative;
  right: 10vw;
}

.change-title-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  border-radius: 3px;
  height: 4vh;
}

.delete-list-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  margin: 1vw;
  border-radius: 3px;
  height: 4vh;
}

.add-item-button {
  background: transparent;
  position: relative;
  bottom: 11.5vh;
  border-radius: 3px;
  height: 4vh;
}

.list-created-at {
  position: relative;
  left: 12vw;
  bottom: 2.5vh;
  font-size: small;
  text-align: left;
}

.list-edited-at {
  position: relative;
  left: 12vw;
  bottom: 3vh;
  font-size: small;
  text-align: left;
}

.list-item-inc {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  width: 20vw;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px maroon;
  background-color: salmon;
  text-align: left;
  padding: 0.5vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.list-item-com {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  width: 20vw;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px darkgreen;
  background-color: lightgreen;
  text-align: left;
  padding: 0.5vw;
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

#sl-task {
  text-align: center;
  margin: 0px;
}

#sl-imp {

}

#sl-desc {

}


#sl-comp {
  text-align: center;
}

.current-list {
  width: 30vw;
  position: absolute;
  right: 37vw;
  top: 20vh;
  text-align: left;
}

.current-item-details {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  position: relative;
  right: 7vw;
  margin-bottom: 2vh;
}

.current-list-title {
  width: 10vw;
}

.current-list-identifier {
  width: 10vw;
}

#task-input {
  font-size: 16pt;
  height: 2rem;
}

#importance-input {
  width: 5vw;
}

#description-input {
  font-family: Arial, Helvetica, sans-serif;

}

#item-task {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1vh;
}

#item-importance {
  margin-left: 1vw;
}

#item-description {
  margin-left: 1vw;
  margin-right: 1vw;
}


.delete-item-button {
  position: relative;
  width: 2vw;
  height: 3vh;
  left: 18vw;
  color: black;
  background-color: transparent;
  text-align: center;
}

.mark-complete-button {
  position: relative;
  bottom: 0.3vw;
  left: 0.3vw;
  background-color: salmon;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid darkred;
  width: 5vw;
  height: 4vh;
  font-size: 8pt;
}

.mark-incomplete-button {
  position: relative;
  bottom: 0.3vw;
  left: 14.7vw;
  background-color: lightgreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid darkgreen;
  width: 5vw;
  height: 4vh;
  font-size: 8pt;
}